{% extends 'assistant/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row justify-content-center my-4">
  <h1>
    {{what}}
  </h1>
    <div class="col-md-7 mt-4">
        <div class="card">
            <h1 class="card-header text-center">Whisper</h1>
            <div class="card-body">
              <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary mb-3" onclick="location.href='{% url 'new_chat' %}'">New chat</button>
              </div>
              
              <form action="." method="POST">
                <!-- this secures the form from malicious attacks during submission -->
                {% csrf_token %}
                <label for="temperature" class="form-label d-flex">Temperature: 
                  <input class="ms-2" type="number" step="0.01" min="0" max="2" name="temperature" value="{{ temperature }}" id="temperature">
                </label>
                <div class="inputform" style="margin-bottom:30px;background-color: antiquewhite;padding: 10px;">
                  <label for="question" class="form-label">What is your request?</label>
                  <input class="form-control mb-2" type="text" name="question" value="{{ question }}" id="question">
                  <label class="btn btn-primary mb-1" for="file-input" style="margin-right: 15px">
                    Upload File
                    <input type="file" name="file" id="file-input" style="display: none;">
                  </label>
                  <button id="start-recording" class="btn btn-primary mb-1 me-1">Start</button>
                  <button id="stop-recording"  class="btn btn-danger mb-1" disabled>Stop</button>
                  <button class="btn btn-success fw-bold float-end" type="submit">Send</button>
                </div>

                <div class="chat-history mb-3">
                  {% if result %}
                      <div class="card mb-2 bg-secondary text-white">
                        <div class="card-body p-2">
                             {{ result|linebreaksbr }}
                        </div>
                      </div>
                  {% endif %}
                </div>
              </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
  let record_flag =0;
  let chunks = [];
  let mediaRecorder;

  const startRecording = () => {
     if(record_flag)
      {
        alert("You forgot to finish your recording.");
        if(record_flag==1)stopRecording();
      }
      record_flag =1;
      chunks = [];
      navigator.mediaDevices.getUserMedia({ audio: true })
          .then(stream => {
              mediaRecorder = new MediaRecorder(stream);
              mediaRecorder.addEventListener('dataavailable', event => chunks.push(event.data));
              mediaRecorder.start();
          })
          .catch(error => console.error(error));

      document.getElementById('stop-recording').disabled = false;
      document.getElementById('start-recording').disabled = true;
  };

  const stopRecording = () => {
      record_flag =0;
      mediaRecorder.stop();
      mediaRecorder.addEventListener('stop', () => {
          const blob = new Blob(chunks, { type: 'audio/mpeg' });

          var formData = new FormData();
          formData.append('file', blob, 'recording.mpeg');
          formData.append('filename',"record.mp3");
          var xhr = new XMLHttpRequest();
          var responseText;
          xhr.open('POST', '/upload/', true);
          document.getElementById('question').value = "..";
          var loadInterval= setInterval(function(){
            document.getElementById('question').value += ".";
          },500)

          xhr.onreadystatechange = function() {
              if (xhr.readyState === 4 && xhr.status === 200) {
                responseText = xhr.responseText;
                clearInterval(loadInterval);
                
                var index=0;
                document.getElementById('question').value = "";
                var interval = setInterval(function(){
                  if(index<responseText.length){
                    document.getElementById('question').value +=responseText.charAt(index);
                    index++; 
                  }
                  else
                  {
                    clearInterval(interval);
                  }
                },30)
            }
          };
          xhr.send(formData);  
      });
      document.getElementById('stop-recording').disabled = true;
      document.getElementById('start-recording').disabled = false;
  };

  document.getElementById('start-recording').addEventListener('click', startRecording);
  document.getElementById('stop-recording').addEventListener('click', stopRecording);
</script>

<script>
  document.getElementById('file-input').addEventListener('change', function() {
      var fileInput = document.getElementById('file-input');
      var file = fileInput.files[0];
      var filename= fileInput.name+".mp3";
      var formData = new FormData();
      formData.append('file', file);
      formData.append('filename', filename);
      var xhr = new XMLHttpRequest();
      var responseText;
      xhr.open('POST', '/upload/', true);
      document.getElementById('question').value = "..";
      var loadInterval= setInterval(function(){
        document.getElementById('question').value += ".";
      },300)

      xhr.onreadystatechange = function() {
          if (xhr.readyState === 4 && xhr.status === 200) {
            responseText = xhr.responseText;
            clearInterval(loadInterval);
            
            var index=0;
            document.getElementById('question').value = "";
            var interval = setInterval(function(){
              if(index<responseText.length){
                document.getElementById('question').value +=responseText.charAt(index);
                index++; 
              }
              else
              {
                clearInterval(interval);
              }
            },30)
        }
      };
      xhr.send(formData);    
  });
</script>
{% endblock %}
